<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/olya1.css">
</head>
<body>
<div class="main">
<!--    Самые распространенные теги: div, p, a, img, span, h1,h2 и тд, -->
    <div>
        <a href="https://html5book.ru/html-tags/">HTML теги. Список.</a>
    </div>

    <div>
        <a href="https://www.google.com/search?q=%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F+%D0%B1%D1%8D%D0%BC&ei=f4n5YZqPJ4j2qwGI2JCIBg&oq=%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F+&gs_lcp=Cgdnd3Mtd2l6EAEYATIICAAQgAQQsQMyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQ6DgguEIAEELEDEMcBEKMCOgsIABCABBCxAxCDAToLCC4QgAQQxwEQowI6CAguELEDEIMBOgQIABBDOgoIABCxAxCDARBDOgsILhCABBCxAxCDAToICC4QgAQQsQM6BwgAELEDEApKBAhBGABKBAhGGABQAFjDImDfNmgBcAJ4AIABjwGIAfELkgEEMy4xMJgBAKABAcABAQ&sclient=gws-wiz">БЄМ
            методология</a>
    </div>

    <div class="main__types">
        <a href="https://idg.net.ua/blog/uchebnik-css/azy-css/kaskadnost">приоритетность селекторов css</a>
    </div>

    <div class="main__types">
        <a href="https://learn.javascript.ru/types">Типы данных</a>
    </div>
    <div>
        <a href="https://www.google.com/search?q=%D0%B1%D0%BB%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D0%B8+%D1%81%D1%82%D1%80%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B+%D1%80%D0%B0%D0%B7%D0%BD%D0%B8%D1%86%D0%B0&source=hp&ei=rov5Ya6rAYLdrgSsp66oCA&iflsig=AHkkrS4AAAAAYfmZvjcOi4VHhE8_R-d-p-eyYePacgE8&oq=%D0%B1%D0%BB%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D1%81%D1%82%D1%80%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+&gs_lcp=Cgdnd3Mtd2l6EAEYATIFCAAQgAQyBggAEBYQHjIGCAAQFhAeOggIABCABBCxAzoLCAAQgAQQsQMQgwE6CwguEIAEELEDEIMBOggILhCABBCxAzoOCC4QgAQQsQMQxwEQrwE6CwguEIAEEMcBEK8BOgQIABBDOgQIABANOgYIABANEAo6CAgAEAgQDRAeUABYpD5gykpoA3AAeACAAcQBiAHNFZIBBDEuMTmYAQCgAQE&sclient=gws-wiz">блочные и строчные элементы разница</a>
    </div>
    
    <div>
        <a href="http://htmlbook.ru/samcss/sposoby-dobavleniya-stiley-na-stranitsu">Способы добавления стилей на страницу</a>
    </div>

    <div>
        <a href="https://learn.javascript.ru/array-iteration">Массив: перебирающие методы</a>
    </div>
    <div>
        <a href="https://tproger.ru/translations/complete-sass-guide/">SCSS</a>
    </div>
    <div>
        <a href="https://learn.javascript.ru/let-const">Переменные: let и const</a>
    </div>
    <div>
        <a href="https://skillbox.ru/media/code/chem_razlichayutsya_var_let_i_const_v_javascript/">Чем различаются var, let и const в JavaScript</a>
    </div>

    <div>
        <a href="https://www.youtube.com/watch?v=377qAu37OTE">js стек вызовов</a>
    </div>
    <div>
        <a href="https://www.google.com/search?q=%D0%BA%D0%B0%D0%BA+%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82+js+%D0%BD%D0%B0+%D1%83%D1%80%D0%BE%D0%B2%D0%BD%D0%B5+%D0%B2%D0%BA%D0%BB%D0%B0%D0%B4%D0%BA%D0%B8+%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D0%B0&ei=JYz5YfmcHKT5qwHlq4lI&ved=0ahUKEwi5w9rVoN_1AhWk_CoKHeVVAgkQ4dUDCA4&uact=5&oq=%D0%BA%D0%B0%D0%BA+%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82+js+%D0%BD%D0%B0+%D1%83%D1%80%D0%BE%D0%B2%D0%BD%D0%B5+%D0%B2%D0%BA%D0%BB%D0%B0%D0%B4%D0%BA%D0%B8+%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D0%B0&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEM0COgQIABBDOgsIABCABBCxAxCDAToICAAQgAQQsQM6CAguEIAEELEDOggIABCxAxCDAToFCAAQgAQ6BggAEBYQHjoICCEQFhAdEB46BQghEKABOgkIIRAKEKABECo6BwghEAoQoAFKBAhBGABKBAhGGABQAFjeWmDoW2gCcAJ4AYABiAKIAdYpkgEGNC4zOS4xmAEAoAEBwAEB&sclient=gws-wiz">как работает js </a>
    </div>
    <div class="main__pictures">

    </div>
</div>

<script>
    /**
     * @type Array olya
     */
    // Типі данніх
    let object = {}; // пустой обїект
    let array = []; // пустой массив
    let string = ''; // пустая строка
    const integer = 7;
    
    let arr = [
        {src: '../images/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg'},
        {src: '../images/abf0e5f8791d23fcc4d4fcebcaf027a4.jpg'},
        
    ];
    const pictures = document.querySelector('.main__pictures');
    arr.forEach((element,index) => {
        let img = document.createElement('img');
        img.src = element.src;
        pictures.appendChild(img)
    })
    // alert('Hello Olya');
    // console.log('Hello Olya');
</script>

</body>
</html>